$headerBorder: #F5D8CA;
$dotBorder: #E1C0B0;
$backgroundScrollUp: #C0E1CF;
$workingBacgkround: #FAF7F1;
$iconGreen: #BADAC9;
$iconYellow:  #F8D12D;
$iconBordeaux:  #80465F;
$iconOrange: #EB6950;
$icon: #d8f0e3

// From #d8f0e3 to #f77b72